<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="container-fluid" style=" display:flex; justify-content:center; margin:0; padding: 0;">        
        <div class="container" style="  border:2px solid black; height:80vh; width:100%; max-width:500px;  ">
            <h4 style="text-align:center;">SIGNUP</h4>
            <hr>
                
            
        </div>
    </div>
    
</body>
</html>